<tr ng-repeat="cliente in clientes | filter:search" class="ng-scope">
<!-- <td><input type="checkbox" ng-true-value="false" ng-false-value="true" ng-model="cliente" ng-change="update(cliente)"></td> -->
<td class="ng-binding">{{ cliente.idcliente  }}</td>
<td class="ng-binding">{{ cliente.srazonsocial  }}</td>
<td class="ng-binding">{{ cliente.snombrefantasia  }}</td>
<!-- <td><button class="btn btn-danger btn-xs" ng-click="delete($index)">  <span class="glyphicon glyphicon-trash" ></span></button></td> -->
</tr>
