<!--<h3>LoopBack SP Clientes</h3>-->
<div class="row">
    <div class="col-md-6">
        <!-- Page Title-->
        <div class="page-title">
            <div class="container">
                <div class="column">
                    <h1>Clientes</h1>
                </div>
            </div>
        </div>
        <input type="text" class="form-control" ng-model="search.srazonsocial" placeholder="Razon social">
        <small class="pull-right">Mostrando <span class="badge">{{clientes.length}}</span> Clientes</small>
        <table class="table table-striped">
            <thead> 
                <tr> 
                    <th>#</th> 
                    <th>Razon social</th> 
                    <th>Nombre</th> 
                </tr> 
            </thead>
            <tr ng-repeat='cliente in clientes | filter:search'>
                <!-- <td><input type="checkbox" ng-true-value="false" ng-false-value="true" ng-model="cliente" ng-change="update(cliente)"></td> -->
                <td>{{ cliente.idcliente}}</td>
                <td>{{ cliente.srazonsocial}}</td>
                <td>{{ cliente.snombrefantasia}}</td>
                <!-- <td><button class="btn btn-danger btn-xs" ng-click="delete($index)">  <span class="glyphicon glyphicon-trash" ></span></button></td> -->
            </tr>
        </table>
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-4">
        <input type='text' ng-model="cliente.srazonsocial">
        <button class="btn btn-primary btn-md"  ng-click="add()">Add</button>
        <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
    </div>
</div> -->
