<!-- <h3>Loopback SP Pedido</h3-->
    <!-- Topbar-->
    <!-- <div class="topbar">
      <div class="topbar-column"><a class="hidden-md-down" href="mailto:support@unishop.com"><i class="icon-mail"></i>&nbsp; soporte@solucionespalm.com</a><a class="hidden-md-down" href="tel:00331697720"><i class="icon-bell"></i>&nbsp; 0810 555 2030 </a><a class="social-button sb-facebook shape-none sb-dark" href="#" target="_blank"><i class="socicon-facebook"></i></a><a class="social-button sb-twitter shape-none sb-dark" href="#" target="_blank"><i class="socicon-twitter"></i></a><a class="social-button sb-instagram shape-none sb-dark" href="#" target="_blank"><i class="socicon-instagram"></i></a><a class="social-button sb-pinterest shape-none sb-dark" href="#" target="_blank"><i class="socicon-pinterest"></i></a>
      </div>
      <div class="topbar-column"><a class="hidden-md-down" href="#"><i class="icon-download"></i>&nbsp; Descarga app</a>
        <div class="lang-currency-switcher-wrap">
          <div class="lang-currency-switcher dropdown-toggle"><span class="language"><img alt="English" src="https://www.shareicon.net/download/2017/01/17/872052_flag.ico"></span><span class="currency">$ PESO</span></div>
          <div class="dropdown-menu">
            <div class="currency-select">
              <select class="form-control form-control-rounded form-control-sm">
                <option value="usd">$ PESO</option>
                <option value="usd">$ USD</option>
                
                
              </select>
            </div><a class="dropdown-item" href="#"><img src="img/flags/GB.png" alt="Français">USD</a>
          </div>
        </div>
      </div>
    </div>-->
    <!-- Navbar-->
    <!-- Remove ".navbar-sticky" class to make navigation bar scrollable with the page.-->
    
    <!-- Off-Canvas Wrapper-->
    <div class="offcanvas-wrapper">
      <!-- Page Title-->
      <!-- <div class="page-title">
        <div class="container">
          <div class="column">
            <h1>Pedido</h1>
          </div>
          <div class="column __web-inspector-hide-shortcut__">
            <ul class="breadcrumbs">
              <li><a href="index.html">Home</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li>Cart</li>
            </ul>
          </div>
        </div>
      </div>-->
      <!-- Page Content-->
      <div class="container mb-1">
          <!--Page Title-->
          <div class="page-title">
              <div class="container">
                  <div class="column">
                      <h1>Resumen de pedido</h1>
                  </div>
              </div>
          </div>
        <!-- Alert-->
        
        <!-- Shopping Cart-->
        <div class="table-responsive shopping-cart">
          <table class="table">
            <thead>
              <tr>
                <th class="text-lg text-medium">Mercaderia</th>
                <th class="text-center text-lg text-medium">Cantidad</th>
                <th class="text-center text-lg text-medium">Prec.Unit.</th>
                <th class="text-center text-lg text-medium">Subtotal</th>
                <th class="text-center text-lg text-medium"><a class="btn btn-sm btn-outline-danger" ng-click="viewDeleteAllProducts(); lsDeleteAllProducts();">Borrar todo</a></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='producto in productos'>
                <td>
                  <div class="product-item"><a class="product-thumb" href="shop-single.html"><img src="http://www.maxiconsumo.com/media/catalog/product/cache/15/image/300x/9df78eab33525d08d6e5fb8d27136e95/1/8/18405_19.jpg" alt="Product"></a>
                    <div class="product-info">
                        <h4 class="product-title"><a href="shop-single.html">{{ producto.snombre  }}</a></h4><span><em>Unidad:</em>Unidades</span><span><em>Familia:</em>-</span>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                    <input class="form-control" type="input" min="0" ng-model="producto.cantidad" ng-change="c(producto.idproducto, producto.cantidad)" ng-disabled="inputDisable">
                </td>
                <td class="text-center text-lg text-medium">{{ producto.precio | currency  }}</td>
                <td class="text-center text-lg text-medium">{{ (producto.precio * producto.cantidad) | currency  }}</td>
                <td class="text-center"><a class="remove-from-cart" style="color:#ff5252; cursor:pointer"  ng-click="lsDeleteProduct(producto.idproducto); viewDeleteProduct($index)"  data-original-title="Borrar item"><i class="glyphicon glyphicon-remove"></i></a></td>
              </tr>
             <!-- <tr>
                <td>
                  <div class="product-item"><a class="product-thumb" href="shop-single.html"><img src="http://www.arrozdanubio.com.ar/wp-content/uploads/Extra-Real-grano-largo-doble.png" alt="Product"></a>
                    <div class="product-info">
                      <h4 class="product-title"><a href="shop-single.html">Arroz Correntino E. Real</a></h4><span><em>Unidades:</em>Pack x 10</span><span><em>Familia:</em>Arroces</span>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                    <input class="form-control" type="number" min="0">
                </td>
                <td class="text-center text-lg text-medium">$165.00</td>
                <td class="text-center">—</td>
                <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Borrar item"><i class="glyphicon glyphicon-remove"></i></a></td>
              </tr>
              <tr>
                <td>
                  <div class="product-item"><a class="product-thumb" href="shop-single.html"><img src="https://www.licoresmedellin.com/wp-content/uploads/2017/04/7up1-128x128.jpg" alt="Product"></a>
                    <div class="product-info">
                      <h4 class="product-title"><a href="shop-single.html">7up 2.5lts</a></h4><span><em>Unidades:</em>Pack x 6</span><span><em>Familia:</em>Bebidas</span>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                    <input class="form-control" type="number" min="0">
                </td>
                <td class="text-center text-lg text-medium">$150.00</td>
                <td class="text-center text-lg text-medium">$66.00</td>
                <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Borrar item"><i class="glyphicon glyphicon-remove"></i></a></td>
              </tr>-->
            </tbody>
          </table>
        </div>
        <div class="shopping-cart-footer">
          <div class="column">
            <form class="coupon-form" method="post">
              
              <button class="btn btn-outline-primary btn-sm" type="submit">Cond. pago</button>
            </form>
          </div>
          
    	  <div class="column text-lg">Subtotal: <span class="text-medium">{{ sumaTotal | currency  }}</span></div>
    	  <div class="column text-lg">Descuentos: <span class="text-medium">$0,00</span></div>
    	  <div class="column text-lg">Impuestos: <span class="text-medium">$0,00</span></div><div class="column text-lg">Total: <span class="text-medium">{{ sumaTotal | currency  }}</span></div>
        </div>
          
        
        <div class="shopping-cart-footer">
          <div class="column"><a class="btn btn-outline-secondary" href="#!/productos"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Volver</a></div>
          <div class="column"><a class="btn btn-primary" href="#!/pedido/" ng-click="habilitarEdicion()">Actualizar</a><a class="btn btn-success" href="#!/pedido/" ng-click="cerrarPedido()">Enviar pedido</a></div>
        </div>
        <!-- Related Products Carousel-->
        <h3 class="text-center padding-top-2x mt-2 padding-bottom-1x">¡Ultimas promociones!</h3>
        <!-- Carousel-->
        <div class="owl-carousel owl-loaded owl-drag" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;margin&quot;: 30, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;576&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}} }">
          <!-- Product-->
          
          <!-- Product-->
          
          <!-- Product-->
          
          <!-- Product-->
          
          <!-- Product-->
          
          <!-- Product-->
          
          <!-- <div class="owl-stage-outer">
              <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0.9s; width: 1755px;">
                  <div class="owl-item active" style="width: 262.5px; margin-right: 30px;">-->
                      <div class="grid-item">
                          <div class="product-card">
                              <div class="product-badge text-danger">22% Off</div><a class="product-thumb" href="#"><img src="http://www.maxiconsumo.com/media/catalog/product/cache/42/image/300x/9df78eab33525d08d6e5fb8d27136e95/1/9/19064.jpg" alt="Product"></a>
                              <h3 class="product-title"><a href="#">POLENTA MAROLIO 500 gr</a></h3>
                              <h4 class="product-price">
                                  <del>$31.50</del>$28,50
                              </h4>
                              <div class="product-buttons">
                                  <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Favoritos"><i class="icon-star"></i></button>
                                  <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Comprar</button>
                              </div>
                          </div>
                      </div>
                
                      <!-- <div class="owl-item active" style="width: 262.5px; margin-right: 30px;">-->
                      <div class="grid-item">
                          <div class="product-card">
                              <div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i></div>
                              <a class="product-thumb" href="#"><img src="http://www.lasmarias.com.ar/esp/documentos/11/Man%CC%83anita%20x%20500g%20L%20RGB.jpg" alt="Product"></a>
                              <h3 class="product-title"><a href="#">Yerba Mañanita x 500grs</a></h3>
                              <h4 class="product-price">$24,99</h4>
                              <div class="product-buttons">
                                  <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Favoritos"><i class="icon-star"></i></button>
                                  <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Comprar</button>
                              </div>
                          </div>
                      </div>
                  
                      <!-- <div class="owl-item active" style="width: 262.5px; margin-right: 30px;">-->
                      <div class="grid-item">
                          <div class="product-card">
                              <a class="product-thumb" href="#"><img src="http://www.maxiconsumo.com/media/catalog/product/cache/15/image/300x/9df78eab33525d08d6e5fb8d27136e95/1/8/18405_19.jpg" alt="Product"></a>
                              <h3 class="product-title"><a href="#">PURE MOLTO TETRA</a></h3>
                              <h4 class="product-price">$49,50</h4>
                              <div class="product-buttons">
                                  <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Favoritos"><i class="icon-star"></i></button>
                                  <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Comprar</button>
                              </div>
                          </div>
                      </div>
                  
                      <!-- <div class="owl-item active" style="width: 262.5px; margin-right: 30px;">-->
                      <div class="grid-item">
                          <div class="product-card">
                              <div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i></div>
                              <a class="product-thumb" href="#"><img src="http://www.arrozdanubio.com.ar/wp-content/uploads/Extra-Real-grano-largo-doble.png" alt="Product"></a>
                              <h3 class="product-title"><a href="#">Arroz Correntino E. Real</a></h3>
                              <h4 class="product-price">$90,00</h4>
                              <div class="product-buttons">
                                  <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Favoritos"><i class="icon-star"></i></button>
                                  <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Comprar</button>
                              </div>
                          </div>
                      </div>
                  
                      <!--<div class="owl-item" style="width: 262.5px; margin-right: 30px;">-->
                      <div class="grid-item">
                          <div class="product-card"><a class="product-thumb" href="#"><img src="https://www.licoresmedellin.com/wp-content/uploads/2017/04/7up1-128x128.jpg" alt="Product"></a>
                              <h3 class="product-title"><a href="#">7up 2.5lts</a></h3>
                              <h4 class="product-price">$47,00</h4>
                              <div class="product-buttons">
                                  <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Favoritos"><i class="icon-star"></i></button>
                                  <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Comprar</button>
                              </div>
                          </div>
                      </div>
                  
                      <!-- <div class="owl-item" style="width: 262.5px; margin-right: 30px;">-->
                      <div class="grid-item">
                          <div class="product-card">
                              <div class="product-badge text-danger">50% Off</div><a class="product-thumb" href="#"><img src="http://www.maxiconsumo.com/media/catalog/product/cache/42/image/300x/9df78eab33525d08d6e5fb8d27136e95/1/2/1210_9.jpg" alt="Product"></a>
                              <h3 class="product-title"><a href="#">INSECT. FUYI M.M.M 360 cc</a></h3>
                              <h4 class="product-price">
                                  <del>$65,99</del>$49,99
                              </h4>
                              <div class="product-buttons">
                                  <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Favoritos"><i class="icon-star"></i></button>
                                  <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Comprar</button>
                              </div>
                          </div>
                      </div>
                  
             <!-- </div>
                      </div>-->
          <!-- <div class="owl-nav disabled"><div class="owl-prev"></div><div class="owl-next"></div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>-->
      </div>
      <!-- Site Footer-->
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <!-- Contact Info-->
              <section class="widget widget-light-skin">
                <h3 class="widget-title">la distribuidora s.r.l</h3>
                <p class="text-white">Telefono: 379 4 45566</p>
                <ul class="list-unstyled text-sm text-white">
                  <li><span class="opacity-50">Lunes-Viernes:</span>8.00 am - 8.00 pm</li>
                  <li><span class="opacity-50">Sabado:</span>09.00 am - 6.00 pm</li>
                </ul>
                <p><a class="navi-link-light" href="#">soporte@solucionespalm.com</a></p><a class="social-button shape-circle sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a><a class="social-button shape-circle sb-google-plus sb-light-skin" href="#"><i class="socicon-googleplus"></i></a>
              </section>
            </div>
            
            
            
          </div>
          <hr class="hr-light mt-2 margin-bottom-2x">
          
          <!-- Copyright-->
          <p class="footer-copyright">© Todos los derechos reservados. Hecho por &nbsp;<a href="#" target="_blank">SP</a></p>
        </div>
      </footer>
    </div>
    <!-- Back To Top Button--><a class="scroll-to-top-btn visible" href="#"><i class="icon-arrow-up"></i></a>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="js/vendor.min.js"></script>
    <!--<script src="js/scripts.min.js"></script>-->

