<!-- <h3>LoopBack SP Productos</h3>-->                                                                                                                                                                                                 </div>
<div class="row">
    <div class="col-md-6">
<div class="offcanvas-wrapper">
 <!-- Page Title-->
    <div class="page-title">
        <div class="col-md-6">
            <div class="column">
                <h1>Productos</h1>
            </div>
            <div class="column">
              <div class="toolbar pull-right"><div class="inner"><div class="tools">
              <div class="cart">
                <a href="#!/pedido"></a><i class="glyphicon glyphicon-shopping-cart"></i><span class="count">{{ cantidadItems  }}</span><span class="subtotal">{{ sumaTotalSeleccionado | currency  }}</span>
                <div class="toolbar-dropdown">
                  <div class="dropdown-product-item" ng-repeat="producto in productosSeleccionados"><span class="dropdown-product-remove" ng-click="lsDeleteProduct(producto.idproducto); viewDeleteProduct($index)"><i class="glyphicon glyphicon-remove"></i></span><a class="dropdown-product-thumb" href="shop-single.html"><img src="http://www.maxiconsumo.com/media/catalog/product/cache/15/image/300x/9df78eab33525d08d6e5fb8d27136e95/1/8/18405_19.jpg" alt="Product"></a>
                    <div class="dropdown-product-info"><a class="dropdown-product-title" href="shop-single.html">{{ producto.snombre  }}</a><span class="dropdown-product-details">{{ producto.cantidad  }} x {{ producto.precio | currency  }}</span></div>
                  </div>
                  <div class="toolbar-dropdown-group">
                    <div class="column"><span class="text-lg">Total:</span></div>
                    <div class="column text-right"><span class="text-lg text-medium">{{ sumaTotalSeleccionado | currency  }}&nbsp;</span></div>
                  </div>
                  <div class="toolbar-dropdown-group">
                    <!--<div class="column"><a class="btn btn-sm btn-block btn-secondary" href="#!/pedido/">Ver pedido</a></div>-->
                    <div class="column"><a class="btn btn-sm btn-block btn-success" href="#!/pedido/">Ver pedido</a></div>
                  </div>
              </div>
              </div></div></div>
            </div>
            </div>
        </div>
    </div>
         <input class="form-control" type="text" ng-model="search.snombre" placeholder="Nombre">
        <div class="col-md-3" style="padding-left:0">
          <input class="form-control" type="text" placeholder="Codigo" ng-model="search.scodproducto">
        </div>
        <div class="pull-right" style="font-size: 1.25rem">Obtenido <span class="badge">{{ (productos | filter:search).length }}</span> Productos</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Descripcion</th>
                    <!-- <th>Precio Unit</th> -->
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr dir-paginate="producto in productos | filter:search | itemsPerPage: 25 ">
            <!-- <td><input type="checkbox" ng-true-value="false" ng-false-value="true" ng-model="cliente" ng-change="update(cliente)"></td> -->
                <td>{{ producto.scodproducto}}</td>
                <td>{{ producto.snombre}}</td>
                <!-- <td>{{ producto.ccosto | currency }}</td> -->
                <td> <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Favoritos"><i class="glyphicon glyphicon-star-empty"></i></button></td>
                <td>
                    <button ng-if="producto.seleccionado" class="btn btn-outline-primary btn-sm active" type="button" data-ng-click="saveProduct(producto.idproducto)" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="glyphicon glyphicon-shopping-cart"></i>
                    </button>
                    <button ng-if="!producto.seleccionado" class="btn btn-outline-primary btn-sm" type="button" data-ng-click="saveProduct(producto.idproducto)"
                        data-toggle="button" aria-pressed="false" autocomplete="off">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </button>
                </td>
                <!-- <td><button class="btn btn-danger btn-xs" ng-click="delete($index)">  <span class="glyphicon glyphicon-trash" ></span></button></td> -->
            </tr>
        </table>
        <dir-pagination-controls 
            ng-model="currentPage"
            total-items="todos.length"
            max-size="maxSize"  
            boundary-links="true">
        </dir-pagination-controls>
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-4">
        <input type="text" ng-model="cliente.srazonsocial">
        <button class="btn btn-primary btn-md"  ng-click="add()">Add</button>
        <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
    </div>
</div> -->
